[Unit]
Requires=kuksa-val.service
After=kuksa-val.service

[Service]
Type=simple
ExecStartPre=/usr/bin/python3 /usr/sbin/kuksa_viss_init_demo.py
ExecStart=/usr/sbin/agl-service-monitor
Restart=on-failure

[Install]
WantedBy=default.target
